/* status bar &header sticky */
.header-wrapper {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*  chat wirte  */
.chat__write-container {
  position: fixed;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.chat__icon-left {
  position: absolute;
  left: 10px;
}
.chat__icon-right {
  position: absolute;
  right: 10px;
}
@keyframes float {
  0% {
    box-shadow: 0 30px 60px 0px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  33% {
    box-shadow: 0 30px 60px -10px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  66% {
    box-shadow: 0 30px 60px -20px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -10px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}
.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 15px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in,
    transform 0.5s ease-in-out;
}
.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-40px);
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 2s ease-in-out infinite forwards;
}
.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}
.chat__write i {
  font-size: 22px;
}
.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 15px 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write-column input:focus {
  outline: none;
}

/*  main chat  */
.chats-body {
  padding: 0px;
  padding-top: 100px; /* bottom도 100px을 설정했을 땐, 왜 안먹히는지? */
  background-image: url("../images/chatbg.png");
  min-height: 100vh;
}
.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}
.chat .chat__messages {
  padding-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-top: 30px;
}
.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  color: #6d6b6d;
}
/*  message  */
.message {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.message .message__content {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.message__content .message__author {
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
}
.incoming-message {
  align-self: flex-start;
}
.incoming-message img {
  width: 50px;
  border-radius: 15px;
  margin-right: 15px;
}
.message .message__bubble,
.sent-message .message__bubble {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px 20px;
  border-radius: 20px;
}
.message__timestamp {
  margin: 0px 13px;
  color: #b2b0b2;
  font-size: 14px;
}
.message .message__bubble {
  border-top-left-radius: 0px;
  background: linear-gradient(to left, #ffc3f0, #fdf784);
}
.sent-message .message__bubble {
  border-top-right-radius: 0px;
  background: linear-gradient(to right, #ffc3f0, #fdf784);
}

/* sent message */
.sent-message {
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding: 35px 0px 20px 0px;
}
.message__timestamp {
  display: block;
}
