@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap");
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friends.css";

* {
  box-sizing: border-box;
}
body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  height: 100000px;
}
a {
  color: inherit;
  text-decoration: none;
}
