@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,500,600,700,800");
@import "status-bar.css";

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
}
